@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html > body {
    font-family: 'OTWelcomeRA';
}

.table-1 > table th,
.table-1 > table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.table-1 > table td a:hover {
    text-decoration: underline;
}

input[type=password] {
    font-family: ".SF NS Mono";
}

.table-1 > table td.writer {
    text-align: left;
}